.dndflow {
    flex-direction: column;
    display: flex;
    flex-grow: 1;
    height: 100%;
  }
  
  .dndflow aside {
    border-right: 1px solid #eee;
    padding: 15px 10px;
    font-size: 12px;
    background: #fcfcfc;
    border-left: 2px solid rgba(128, 128, 128, 0.297);
  }
  
  .dndflow aside .description {
    margin-bottom: 10px;
  }
  
  .dndflow .dndnode {
    height: 60px;  
     padding: 4px;
    border: 1px solid #3030f4;
    border-radius: 2px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: grab;
  }

  .dndflow .dndnode:hover{
    background-color: #0033a2c6;;
    color: white;
  }
  
  .dndflow .dndnode.input {
    border-color: #0033a2c6;
  }

  
  .dndflow .reactflow-wrapper {
    flex-grow: 1;
    height: 100%;
  }
  
  .dndflow .selectall {
    margin-top: 10px;
  }

  .alertBtn{
    background-color: #0033a2c6;
    color: white;
    padding: 10px 60px;
    display: block;
    margin: auto;
  }
  
  @media screen and (min-width: 768px) {
    .dndflow {
      flex-direction: row;
    }
  
    .dndflow aside {
      width: 20%;
      max-width: 250px;
    }
  }
  